<form #categoryForm="ngForm" (ngSubmit)="onUpdate(categoryModel)">
  <div class="modal-header">
    <h4 class="modal-title">{{ 'CATEGORY.EDIT' | translate }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div [hidden]="submitted" style="width: 300px;">

      <div class="form-group" *ngIf="categoryModel.parentId != 0">
        <label for="category_select">{{ 'CATEGORY.PARENT' | translate }}</label>
          <select class="form-control" name="Category" id="category_select" [(ngModel)]="category" (ngModelChange)="onChange(category)">
            <option [ngValue]="category" selected>{{ category.catName }}</option>
            <option *ngFor="let category of categories" [ngValue]="category">{{category.catName}}</option>
          </select>
      </div>

      <div class="form-group">
        <label for="categoryName">{{ 'CATEGORY.NAME' | translate }}</label>
        <input type="text" class="form-control" id="categoryName" required [(ngModel)]="categoryModel.catName" name="categoryName">
      </div>
      <div class="form-group">
        <label for="categoryNameTr">{{ 'CATEGORY.NAME_TR' | translate }}</label>
        <input type="text" class="form-control" id="categoryNameTr" required [(ngModel)]="categoryModel.catNameTr"  name="categoryNameTr">
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-success" (click)="update(categoryModel)">{{ 'APP.UPDATE' | translate }}</button>
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">{{ 'APP.CLOSE' | translate }}</button>
  </div>
</form>
