<div class="container">
  <div class="row h-100 justify-content-center align-items-center">
    <img [src]="netImage" class="figure-img img-fluid rounded" width="20%" height="20%">
  </div>
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-6">
      <mat-form-field id="search-input">
        <input matInput #txtVal (keydown.enter)="search(txtVal.value)"
               [formControl]="searchFormControl">
      </mat-form-field>
      <hr>
    </div>
  </div>
</div>

<section class="section pb-3">
  <div *ngIf="loading">
    <app-product-loader [loop]="4" [height]="500"></app-product-loader>
  </div>

  <owl-carousel *ngIf="!loading" [options]="options" [items]="products"
                [carouselClasses]="['owl-theme', 'row', 'sliding']">
    <div class="item" style="padding:20px; width:150px" *ngFor="let product of products;let i = index">
      <div class="card">
        <div class="card-body product product-cascade wider">
          <div class="view">
            <img [src]="productImage">
          </div>

          <div class="product-body text-center no-padding">
            <h5 class="card-title">
              <strong>
                {{ product.productName }}
              </strong>
            </h5>

            <p class="card-text">
            </p>

            <div class="product-footer">
              <span class="left"></span>
              <span class="right">
                <a placement="top" container="body">
                  <i class="fa fa-heart"></i>
                </a>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </owl-carousel>
</section>
