<div class="container">
  <header>Products</header>
  <form>

    <div class="text-right">
      <button type="submit" class="btn btn-primary" [routerLink]="['create-product']">{{ 'PRODUCT.CREATE' | translate }}</button>
    </div>
  <div class="reglist">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>#</th>
        <th>{{ 'PRODUCT.NAME' | translate }}</th>
        <th>{{ 'BRAND.ID' | translate }}</th>
        <th>{{ 'CATEGORY.ID' | translate }}</th>
        <th></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let product of products ; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ product.productName }}</td>
        <td>{{ product.brandId }}</td>
        <td>{{ product.categoryId }}</td>
        <td>

          <div class="text-center">
          <button type="button" class="btn btn-lg btn-outline-primary" (click)="open(product)" >{{ 'APP.EDIT' | translate }}</button>
          </div>
        </td>

        <td>
          <button type="button" class="btn btn-danger" (click)=" openConfirmationDialog(product.id)">
            {{ 'APP.DELETE' | translate }}
          </button>
        </td>

      </tr>
      </tbody>
    </table>
  </div>
  </form>
</div>
