<div class="regentry">
  <form [formGroup]="commentForm" (ngSubmit)="onSave(commentForm.value)">
    <div class="form-group row">
      <label for="comment-input" class="col-2 col-form-label">{{ 'COMMENT.TEXT' | translate }}</label>

      <div class="col-10">
        <input id="comment-input" formControlName="commentText" class="form-control" type="text" name="Comment">
      </div>
    </div>
    <div class="form-group row">
      <label for="product_id" class="col-2 col-form-label">{{ 'PRODUCT.ID' | translate }}</label>
      <div class="col-10">
        <input id="product_id" formControlName="productId" class="form-control" type="text" name="ProductId">
      </div>
    </div>

    <button type="submit" class="btn btn-success">{{'APP.ADD' | translate }}</button>
    <button type="submit" class="btn btn-primary" (click)="onCancel()">{{'APP.CANCEL' | translate }}</button>
  </form>
</div>
