<div class="example-header">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="{{ 'APP.FILTER' | translate }}">
  </mat-form-field>
</div>

<div class="example-container mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> {{ 'CATEGORY.ID' | translate }}</th>
      <td mat-cell *matCellDef="let element"> {{element.id}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'CATEGORY.NAME' | translate }}</th>
      <td mat-cell *matCellDef="let element"> {{element.catName}}</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="nameTr">
      <th mat-header-cell *matHeaderCellDef>{{ 'CATEGORY.NAME_TR' | translate }}</th>
      <td mat-cell *matCellDef="let element"> {{element.catNameTr}}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="parentId">
      <th mat-header-cell *matHeaderCellDef>{{ 'CATEGORY.PARENT' | translate }}</th>
      <td mat-cell *matCellDef="let element"> {{element.parentId}}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td md-cell *matCellDef="let element">
        <button md-raised-button class="btn btn-primary" style="margin-right: 5px" (click)="onEdit(element)">{{'APP.EDIT' | translate }}
        </button>
        <button md-raised-button class="btn btn-danger" (click)="onDeleteConfirmation(element.id)">{{'APP.DELETE' | translate }}</button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let element; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[20, 50, 100]" showFirstLastButtons></mat-paginator>
</div>
