<div class="container">
  <header>Brands</header>
  <form>

    <div class="text-right">
      <button type="submit" class="btn btn-primary" [routerLink]="['create-brand']">{{ 'BRAND.CREATE' | translate }}</button>
    </div>
  <div class="reglist">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>#</th>
        <th>{{ 'BRAND.NAME' | translate }}</th>
        <th></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let brand of brands ; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ brand.brandName}}</td>
        <td>

          <div class="text-center">
          <button type="button" class="btn btn-lg btn-outline-primary" (click)="open(brand)" >{{ 'APP.EDIT' | translate }}</button>
          </div>
        </td>

        <td>
          <button type="button" class="btn btn-danger" (click)=" openConfirmationDialog(brand.id)">
            {{ 'APP.DELETE' | translate }}
          </button>
        </td>

      </tr>
      </tbody>
    </table>
  </div>
  </form>
</div>
