<h3>{{ 'PRODUCT.CREATE' | translate }}</h3>
<div [hidden]="submitted" style="width: 300px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">{{ 'PRODUCT.NAME' | translate }}</label>
      <input type="text" class="form-control" id="name" required [(ngModel)]="product.productName" name="name">
    </div>
    <div class="form-group">
      <label for="brandId">{{ 'BRAND.ID' | translate }}</label>
      <input type="text" class="form-control" id="brandId" required [(ngModel)]="product.brandId" name="brandId">
    </div>

    <div class="form-group">
      <label for="categoryId">{{ 'CATEGORY.ID' | translate }}</label>
      <input type="text" class="form-control" id="categoryId" required [(ngModel)]="product.categoryId" name="categoryId">
    </div>

    <button type="submit" class="btn btn-success">{{ 'APP.SAVE' | translate }}</button>
  </form>
</div>

<div [hidden]="!submitted">
  <h4>Product created successfully!</h4>
  <button class="btn btn-success" (click)="newProduct()">Add</button>
</div>
