`<div class="container">
  <div class="reglist">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>#</th>
        <th> {{ 'COMMENT.TEXT' | translate }}</th>
        <th>{{'PRODUCT.ID' | translate }}</th>
        <th></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let comment of comments; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ comment.commentText }}</td>
        <td>{{ comment.productId }}</td>
        <td>
          <button type="button" class="btn btn-info" [routerLink]="['comment-edit/', comment.id]">{{'APP.EDIT' | translate }}</button>
        </td>
        <td>
          <button type="button" class="btn btn-danger" (click)="openConfirmationDialog(comment.id)">{{'APP.DELETE' | translate }}</button>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="text-right">
      <button type="submit" class="btn btn-primary" [routerLink]="['comment-add']">{{'APP.ADD' | translate }}</button>
    </div>
  </div>

</div>
