<div class="regentry">
  <form  #categoryForm="ngForm" (ngSubmit)="onSave(categoryModel)">
    <div class="form-group row">
      <label for="category_select" class="col-3 col-form-label">{{ 'CATEGORY.PARENT' | translate }}</label>
      <div class="col-9">
        <select class="form-control" name="GrandCategory" id="category_select" [(ngModel)]="grandCategory" (ngModelChange)="onChange(grandCategory, 'parentCategory')">
          <option [ngValue]="selectedCat" selected>{{ 'CATEGORY.SELECT' | translate }}</option>
          <option *ngFor="let grandCategory of grandCategories" [ngValue]="grandCategory.id">
            <span *ngIf="!isEnglish">{{grandCategory.catNameTr}}</span>
            <span *ngIf="isEnglish">{{grandCategory.catName}}</span>
          </option>
        </select>
      </div>
    </div>
    <div class="form-group row"  [hidden]="!parentCategories?.length > 0">
      <label for="subCategory_select" class="col-3 col-form-label"></label>
      <div class="col-9">
        <select class="form-control" name="ParentCategory" id="subCategory_select" [(ngModel)]="parentCategory" (ngModelChange)="onChange(parentCategory, 'category')">
          <option [ngValue]="-1" selected>{{ 'CATEGORY.SELECT' | translate }}</option>
          <option *ngFor="let parentCategory of parentCategories" [ngValue]="parentCategory.id">
            <span *ngIf="!isEnglish">{{parentCategory.catNameTr}}</span>
            <span *ngIf="isEnglish">{{parentCategory.catName}}</span>
          </option>
        </select>
      </div>
    </div>
    <div class="form-group row"  [hidden]="!categories?.length > 0">
      <label for="subCategory_select2" class="col-3 col-form-label"></label>
      <div class="col-9">
        <select class="form-control" name="Category" id="subCategory_select2" [(ngModel)]="category" (ngModelChange)="onChange(category, 'subCategory')">
          <option [ngValue]="-1" selected>{{ 'CATEGORY.SELECT' | translate }}</option>
          <option *ngFor="let category of categories" [ngValue]="category.id">
            <span *ngIf="!isEnglish">{{category.catNameTr}}</span>
            <span *ngIf="isEnglish">{{category.catName}}</span>
          </option>
        </select>
      </div>
    </div>
    <div class="form-group row"  [hidden]="!subCategories?.length > 0">
      <label for="subCategory_select3" class="col-3 col-form-label"></label>
      <div class="col-9">
        <select class="form-control" name="SubCategory" id="subCategory_select3" [(ngModel)]="parentId" >
          <option [ngValue]="-1" selected>{{ 'CATEGORY.SELECT' | translate }}</option>
          <option *ngFor="let subCategory of subCategories" [ngValue]="subCategory.id">
            <span *ngIf="!isEnglish">{{subCategory.catNameTr}}</span>
            <span *ngIf="isEnglish">{{subCategory.catName}}</span>
          </option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label for="category-input" class="col-3 col-form-label">{{ 'CATEGORY.NAME' | translate }}</label>
      <div class="col-9">
        <input id="category-input" [(ngModel)]="categoryModel.catName" class="form-control" type="text" name="categoryModel">
      </div>
    </div>
    <div class="form-group row">
      <label for="category-input_tr" class="col-3 col-form-label">{{ 'CATEGORY.NAME_TR' | translate }}</label>
      <div class="col-9">
        <input id="category-input_tr" [(ngModel)]="categoryModel.catNameTr" class="form-control" type="text" name="categoryModel">
      </div>
    </div>
    <div class="button-group float-right">
      <button type="submit" class="btn btn-primary" style="margin-right: 5px" (click)="onCancel()">{{'APP.CANCEL' | translate }}</button>
      <button type="submit" class="btn btn-success">{{'APP.ADD' | translate }}</button>
    </div>
  </form>
</div>
