<form [formGroup]="productForm" (ngSubmit)="onSubmit()">
  <div class="modal-header">
    <h4 class="modal-title">{{ 'PRODUCT.EDIT' | translate }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div [hidden]="submitted" style="width: 300px;">
      <div class="form-group">
        <label for="productName">{{ 'PRODUCT.NAME' | translate }}</label>
        <input type="text" formControlName="productName" class="form-control" id="productName" required [(ngModel)]="product.productName" name="productName">
      </div>
      <div class="form-group">
        <label for="brandId">{{ 'BRAND.ID' | translate }}</label>
        <input type="text" formControlName="brandId" class="form-control" id="brandId" required [(ngModel)]="product.brandId"  name="brandId">
      </div>

      <div class="form-group">
        <label for="categoryId">{{ 'CATEGORY.ID' | translate }}</label>
        <input type="text" formControlName="categoryId" class="form-control" id="categoryId" required [(ngModel)]="product.categoryId"  name="categoryId">
      </div>

      <button type="submit" class="btn btn-success" (click)="update()">{{ 'APP.UPDATE' | translate }}</button>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">{{ 'APP.CLOSE' | translate }}</button>
  </div>
</form>
