<h3>{{ 'BRAND.CREATE' | translate }}</h3>
<div [hidden]="submitted" style="width: 300px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">{{ 'BRAND.NAME' | translate }}</label>
      <input type="text" class="form-control" id="name" required [(ngModel)]="brand.brandName" name="name">
    </div>

    <button type="submit" class="btn btn-success">{{ 'APP.SAVE' | translate }}</button>
  </form>
</div>

<div [hidden]="!submitted">
  <h4>Brand created successfully!</h4>
  <button class="btn btn-success" (click)="newBrand()">Add</button>
</div>
