<form [formGroup]="brandForm" (ngSubmit)="onSubmit()">
  <div class="modal-header">
    <h4 class="modal-title">{{ 'BRAND.EDIT' | translate }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div [hidden]="submitted" style="width: 300px;">
      <div class="form-group">
        <label for="brandName">{{ 'BRAND.NAME' | translate }}</label>
        <input type="text" formControlName="brandName" class="form-control" id="brandName" required [(ngModel)]="brand.brandName" name="brandName">
      </div>

      <button type="submit" class="btn btn-success" (click)="update()">{{ 'APP.UPDATE' | translate }}</button>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">{{ 'APP.CLOSE' | translate }}</button>
  </div>
</form>
